fastapi
uvicorn
python-multipart
pydantic
aiofiles
httpx
transformers
sentence-transformers
redis
rq
pypdf
faiss-cpu
python-dotenv
supabase
scikit-learn
xgboost
lightgbm
pandas
numpy
imbalanced-learn
